*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#body-title{
    background: purple;
    color: white;
    width:30%;
    display: block;
    margin: 20px auto;
    text-align: center;
    border-radius: 7px;
}

.flex-container1{
    margin:30px 0;
    background: skyblue;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}
.flex-container2{
    width: 90%;
    margin:30px auto;
    background: skyblue;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.flex-container3{
    width: 90%;
    margin:30px auto;
    background: skyblue;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 500px;
    align-items: center;
}
.flex-container4{
    width: 90%;
    margin:30px auto;
    background: skyblue;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 500px;
    /* align-items: center; */
    align-content: center;
}

.item-1{
    width: 150px;
    height: 150px;
    background: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}